body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(205, 255, 205);
}

@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Cursed;
}

.container {
    width: 575px;
    height: 385px;
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 10px;
     
}
/****** HOME SIDE ******/
.home {
    margin-left: 25px;
}

.home h3{
    color: #EEE;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700; 
    line-height: 35.893px;
    margin-top: 68px;
}

.home-score {
    width: 155px;
    height: 120px;
    background: #080001;
    margin: 0 auto;
}

.home-score p {
    color: #F94F6D;
    font-family: Cursed;
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 127px;
    margin: 0;
}
.home-buttons {
    display: flex;
    justify-content: center;
    
}

.home-buttons button{
    width: 49px;
    height: 49px;
    flex-shrink: 0; 
    color: #9AABD8;
    border-radius: 5px;
    border: 2px solid #9AABD8;  
    background: #1B244A;
    text-align: center;
    font-family: Cursed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin: 26px 5px 5px 2px;
}


/****** GUEST SIDE ******/
.guest {
    margin-right: 25px;
}

.guest h3{
    color: #EEE;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700; 
    line-height: 35.893px;
    margin-top: 68px;
}

.guest-score {
    width: 155px;
    height: 120px;
    flex-shrink: 0; 
    background: #080001;
    margin: 0 auto;
}

.guest-score p {
    color: #F94F6D;
    font-family: Cursed;
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 127px;
    margin: 0;

}


.guest-buttons {
    display: flex;
    justify-content: center;
    
}
.guest-buttons button{
    width: 49px;
    height: 49px;
    flex-shrink: 0; 
    color: #9AABD8;
    border-radius: 5px;
    border: 2px solid #9AABD8;  
    background: #1B244A;
    text-align: center;
    font-family: Cursed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin: 26px 5px 5px 2px;
    
}

.new-game-btn button {
    width: 80px;
    height: 50px;
    flex-shrink: 0; 
    color: #ecd02e;
    border-radius: 5px;
    border: 2px solid #9AABD8;  
    background: #1B244A;
    text-align: center;
    font-family: Cursed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}